[Unit]
Description=Check news crawler restoration progress every minute

[Timer]
OnBootSec=60
OnUnitInactiveSec=60
AccuracySec=5
Unit=news-thread-watchdog.service

[Install]
WantedBy=timers.target
